@font-face {
  font-family: SegoeProDisplay-Light;
  src: url('../fonts/SegoeProDisplay-Light.ttf');
}

@font-face {
  font-family: SegoeProDisplay-Semibold;
  src: url('../fonts/SegoeProDisplay-Semibold.ttf');
}
