<template id="content">

  <div class="content__section">

    <div class="content__separator">
      <span>
        <i class="fas fa-chevron-down content__icon chevron"></i>
        <span class="content__title">Lorem, ipsum.</span>
      </span>

      <span>
        0 clases - 0 min
      </span>

      <button type="button" class="none button button__content"></button>
    </div>

    <div class="content__separator--index">
      <div class="content__video">
        <div>
          <i class="fas fa-play content__icon"></i>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>

        <div>
          <span>00:00</span>
        </div>
      </div>

      <div class="content__video">
        <div>
          <i class="fas fa-play content__icon"></i>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>

        <div>
          <span>00:00</span>
        </div>
      </div>

      <div class="content__video">
        <div>
          <i class="fas fa-play content__icon"></i>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>

        <div>
          <span>00:00</span>
        </div>
      </div>

      <div class="content__video">
        <div>
          <i class="fas fa-play content__icon"></i>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>

        <div>
          <span>00:00</span>
        </div>
      </div>
    </div>

  </div>

</template>
