<header class="header">

  <nav class="nav">

    <!-- separador -->
    <div class="nav__separator nav__separator--logo">

      <button type="button" class="none button nav__button nav__button--menu">
        <i class="fas fa-bars"></i>
      </button>

      <a href="#" class="nav__logo">
        <i class="fab fa-battle-net"></i>
      </a>

    </div>

    <!-- separador -->
    <div class="nav__separator nav__separator--desktop">

      <label for="search" class="nav__label">
        <i class="fas fa-search"></i>
      </label>

      <input
        type="text"
        id="search"
        class="none nav__text"
        placeholder="buscar cualquier cosa"
      >

    </div>

    <!-- separador -->
    <div class="nav__separator">

      <button type="button" class="none button nav__button">
        <i class="fas fa-search"></i>
      </button>

      <button type="button" class="none button nav__button">
        <i class="fas fa-shopping-cart"></i>
      </button>

      <button type="button" class="none button nav__button nav__button--desktop">
        iniciar sesión
      </button>

      <button type="button" class="none button nav__button nav__button--desktop">
        regístrate
      </button>

      <button type="button" class="none button nav__button nav__button--desktop">
        <i class="fas fa-globe"></i>
      </button>

    </div>

  </nav>

</header>
