<section class="learn">

  <h3 class="learn__title">Lo que aprenderás</h3>

  <ul class="learn__list">

    <li class="learn__item">
      <i class="fas fa-check"></i>
      <span>Utilizar Python para manipular todo tipo de información</span>
    </li>

    <li class="learn__item">
      <i class="fas fa-check"></i>
      <span>Utilizar Python para crear interfaces gráficas con Tkinter</span>
    </li>

    <li class="learn__item">
      <i class="fas fa-check"></i>
      <span>Utilizar Python para crear tus propios scripts y programas</span>
    </li>

    <li class="learn__item">
      <i class="fas fa-check"></i>
      <span>Utilizar Python para manejar bases de datos con SQLite.</span>
    </li>

  </ul>

</section>

<section class="section-content">

  <h2 class="section-content__title">Contenido del curso</h2>

  <span>20 secciones • 174 clases • 20 h 59 m de duración total</span>

</section>
