<main class="main">

  <section class="main__separator main__separator--tags">

    <a href="#" class="main__tag">
      Lenguajes de programación
    </a>

    <i class="fas fa-chevron-right main__arrow"></i>

    <a href="#" class="main__tag">
      Programación orientada a objetos
    </a>

  </section>

  <section class="main__separator">

    <img
      src="assets/img/img-python.jpg"
      alt="python image"
      class="main__img"
    />

  </section>

  <section class="main__separator">
    <h1 class="main__title">
      Curso Maestro De Python 3: Aprende Desde Cero
    </h1>

    <h4 class="main__subdescription">
      ¡Aprende a programar con clases y objetos, a usar ficheros y bases de datos
      SQLite, interfaces gráficas y más con Python!
    </h4>
  </section>

  <section class="main__separator main__separator--info">

    <div class="main__info">
      Creador por <a href="#" class="main__author">Kirk Hammett</a>
    </div>

    <div class="main__info">
      <i class="fas fa-calendar main__logo"></i>
      <span>Fecha de la última actualización 9/2021</span>
    </div>

    <div class="main__info">
      <i class="fa fa-globe main__logo"></i>
      <span>Español</span>
    </div>

    <div class="main__info">
      <i class="fas fa-closed-captioning main__logo"></i>
      <span>Español [automático]</span>
    </div>

  </section>

  <section class="main__separator main__separator--info-price">
    <h2 class="main__price">13,99 US$</h2>
    <span class="main__trought">89,99 US$</span>
    <span class="main__discount">84% de descuento</span>
  </section>

  <section class="main__separator">
    <div class="main__culmination">
      ¡Esta oferta termina en <span class="main__hour">9 horas!</span>
    </div>
  </section>

  <section class="main__separator main__separator--buttons">

    <button type="button" class="none button main__basket">
      Añadir a la cesta
    </button>

    <button type="button" class="none button main__button">
      Añadir a la lista de deseos
    </button>

    <button type="button" class="none button main__button">
      Compartir
    </button>

    <button type="button" class="none button main__button">
      Regalar este curso
    </button>

    <button type="button" class="none button main__button">
      Aplicar cupón
    </button>

  </section>

</main>
